* {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  font-family: 'EB Garamond', serif;
}

nav {
  background-color: #f8ecc0;
  display: flex;
  justify-content: center;
  width: 100vw;
  height: 60px;
}

.navbar-logo {
  width: 40px;
  margin: 10px;
  position: absolute;
  top: 0;
  left: 0;
}

.nav-links {
  display: flex;
  list-style-type: none;
  width: 50vw;
  justify-content: center;
  overflow: hidden;
}

.navbar-button {
  font-size: 20px;
  border-right: 1px solid;
  border-color: #54380a;
  padding: 10px 0;
}

.navbar-button:last-of-type {
  border: none;
}

.navbar-button a {
  display: block;
  text-align: center;
  padding: 6px 10px;
  text-decoration: none;
  color: #110a01;
}

main {
  background-color: #EEEEEE;
  height: 100vw;
}