* {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  font-family: 'EB Garamond', serif;
}

nav {
  background-color: #f8ecc0;
  display: flex;
}

.navbar-logo {
  width: 40px;
  margin: 10px;
}
.nav-links {
  display: flex;
}

.navbar-button {
  
}