* {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  font-family: 'EB Garamond', serif;
}

nav {
  background-color: #f8ecc0;
  display: flex;
  justify-content: center;
  width: 100vw;
  height: 60px;
  position: fixed;
  top: 0;
  border-bottom: #54380A 1px solid;
}

html {
  scroll-padding-top: 80px;
}

body {
  padding-top: 60px;
}

.navbar-logo {
  width: 40px;
  margin: 10px;
  position: absolute;
  top: 0;
  left: 0;
}

.nav-links {
  display: flex;
  list-style-type: none;
  width: 50vw;
  justify-content: center;
  overflow: hidden;
}

.navbar-button {
  font-size: 20px;
  border-right: 1px solid;
  border-color: #54380a;
  padding: 10px 0;
}

.navbar-button:last-of-type {
  border: none;
}

.navbar-button a {
  display: block;
  text-align: center;
  padding: 6px 10px;
  text-decoration: none;
  color: #110a01;
}

.navbar-button:hover, .navbar-button #active {
  background-color: #d4c798;
  border-bottom: 2px solid #54380a;
}

main {
  background-color: #EEEEEE;
  height: 100vh;
  justify-items: center;
  padding: 40px 20px;
}

.content_box {
  border: 1px black solid;
  border-radius: 10px;
  background-color: #F8ECC0;
  width: 60vw;
  padding: 20px;
  margin-bottom: 40px;
}

.content {
  color: #110a01;
  padding-bottom: 20px;
}

.content_box:last-child {
  padding-bottom: 0;
}

.name {
  color: #1e5a20;
}

.section-title {
  justify-self: center;
  font-size: 50px;
  padding-bottom: 20px;
}

hr {
  width: 50%;
  margin: 10px 0;
  border-color: #54380A;
}

p {
  font-size: 20px;
}

.scroll-anchor {
  display: block;
  height: 60px;
  margin-top: -60px;
  visibility: hidden;
}
